<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<title>Station</title>
<meta charset="UTF-8">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Main CSS-->
<link rel="stylesheet" type="text/css" href="/css/main.css">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
<link rel="stylesheet"
	href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
<!-- Font-icon css-->
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.2/xlsx.full.min.js"></script>
</head>
<body onload="time()" class="app sidebar-mini rtl">
	<div th:replace="~{/views/manager_items/header::header}"></div>
	<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
	<div th:replace="~{/views/Trip/side_bar::side_bar}"></div>
	<main class="app-content">
		
		<div class="row">
			<div class="col-md-12">
				<div class="app-title">
					<ul class="app-breadcrumb breadcrumb">
						<li class="breadcrumb-item"><a href="#"><b>Danh sách
									chuyến xe  : Tuyến [[${route.name}]]</b></a></li>
					</ul>
					<div id="clock"></div>
				</div>
			</div>
		</div>
			<div class="row">
		<div class="col-md-12">
			<div class="card  mb-2">
				<div class="card-body" >
					<div class="col-md-2">
						<a class="btn btn-add btn-sm"
							th:href="@{'/manager/trip/'+${route.id}}"  title="Thêm"><i
							class="fas fa-plus"></i> Tạo mới chuyến xe </a>
					</div>
				</div>
			</div>
		</div>
	</div>
		<div class="row">
			<div class="col-md-12">
				<div class="tile p-4">
					<div class="tile-body">
						<table class="table table-hover table-bordered p-4"
							id="sampleTable">
							<thead>
								<tr>
									<th>Ngày khời hành</th>
									<th>Thời gian bắt đầu</th>
									<th>Thời gian kết thúc</th>
									<th>Giá tiền</th>
									<th>Xe</th>
									<th>Trạm dừng</th>
									<th>chức năng</th>
								</tr>
							</thead>
							<tr th:each="trip : ${trips}">
								<td th:text="${trip.departureDate}"></td>
								<td th:text="${trip.startTime}"></td>
								<td th:text="${trip.endTime}"></td>
								<td>[[${#numbers.formatDecimal(trip.price, 0, 'COMMA', 0, 'POINT')}]] VND</td>
								<td th:text="${trip.bus.name}"></td>
								<td><a class="btn btn-primary" th:href="@{'/manager/trip_station/'+${trip.id}}">Xem trạm</a></td>
								<td>
									<a class="btn btn-primary" th:href="@{'/manager/trips/edit/'+${trip.id}}">Chỉnh sửa</a>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</main>

	<!-- Essential javascripts for application to work-->
	<script src="/js/jquery-3.2.1.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script
		src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="/src/jquery.table2excel.js"></script>
	<script src="/js/main.js"></script>
	<!-- The javascript plugin to display page loading on top-->
	<script src="/js/plugins/pace.min.js"></script>
	<!-- Page specific javascripts-->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
	<!-- Data table plugin-->
	<script type="text/javascript"
		src="/js/plugins/jquery.dataTables.min.js"></script>
	<script type="text/javascript"
		src="/js/plugins/dataTables.bootstrap.min.js"></script>
	<script type="text/javascript">
		$('#sampleTable').DataTable();
	</script>
	<script type="text/javascript" src="/js/plugins/time.js"></script>
</body>

</html>