<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
</head>
<body th:fragment="station">
	<div
		class="mt-2 flex h-96 justify-center overflow-y-auto rounded-b-xl bg-[#FBFBFB] px-1 pb-4 scrollable-content">
		<div class="overflow-auto ">
			<div th:each="items,index : ${stations}"
				class="relative flex items-start px-4 text-[15px] text-black">
				<div class="row">
					<div class="col-md-2 border-end border-dotted">
						<span class="">[[${items.stopTime}]] </span>
							<span th:if="!${index.last} and !${index.first}">
							<i class="fa-solid fa-circle-dot text-secondary "></i></span>
							<span th:if="${index.first}"><i class="fa-solid fa-circle-dot text-success fs-4"></i></span>
							<span th:if="${index.last}"><i class="fa-solid fa-location-dot text-warning fs-4"></i></span>	
					</div>

					<div class="col-md-10 text-start"> 
						[[${items.station.name}]]
						<p>.[[${items.station.address}]]</p>
					</div>
				</div>
			</div>
			<div
				class="absolute bottom-0 z-20 rounded-b-lg bg-[#F7F7F7] px-4 py-2 text-[13px]">
				<span class="text-[15px] font-medium">Lưu ý</span><br> <span>Thời
					gian các mốc lịch trình là thời gian dự kiến. Lịch trình này có thể
					thay đổi tuỳ vào tình hình thực tế xuất bến sớm hay trễ.</span>
			</div>
		</div>
	</div>
</body>
</html>